.bg_grey {
	background: #f2f1f2;	
}
.font_black {
    color: #333;
}
.no_bold {
    font-weight: normal;
}
.bg_grey_1 {
    background: #323232;
}
.font_grey {
    color: #959595;
}
.br_tp {
    border-top: 1px solid #e5e5e5;
}
.br_bt {
    border-bottom: 1px solid #e5e5e5;
}
.br_rg {
    border-right: 1px solid #e5e5e5;
}
.br_lf {
    border-left: 1px solid #e5e5e5;
}
